<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Web Mafia</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dokdo&family=East+Sea+Dokdo&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@300&family=Song+Myung&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');
        .footer_box {
            background-color: rgba(230, 230, 231, 0.8);
            height: 180px;
            margin-top: 30px;
        }
        .footlink{
            text-decoration: none;
            color : #474747;
        }
        .footer_right{
            float : right;
            margin-right : 50px;
            text-align : right;
        }
        .footer_left{
            float : left;
        }
        .copyright_box{
            height : 100px;
            background-color : rgba(113, 113, 114, 0.5);
        }
        h3, p{
            font-family: 'Noto Sans KR', sans-serif;
        }
    </style>
</head>
<body>
<!-- views/footer.ejs -->
<div class = "footer_box">
    <br>
    <div class = "footer_left">
        <h3 style = "margin-left : 20px">관련 정보</h3>
        <p style = "margin-left : 30px">
            <a class = "footlink" href = "https://github.com/ai-lab-team">AI lab</a> |
            <a class = "footlink" href = "http://www.daejin.ac.kr/index.do?sso=ok">대진대학교</a> |
            <a class = "footlink" href = "http://hit.daejin.ac.kr/17.html">컴퓨터공학전공</a>
            <br><br>
            함께 할 여러분을 기다립니다.
        </p>
    </div>
    <div class = "footer_right">
        <h3 style = "margin-left : 20px">고객센터</h3>
        <p style = "margin-left : 30px">031-539-1960<br> 상담 가능 시간<br>10:00~18:00</p>
    </div>
</div>
<div class = "copyright_box">
    <p style = "margin-left : 10px;" class="text-center text-muted">&copy; 2019-2020 AI_lab MT team WEB Mafia game</p>
</div>
</body>
</html>

